{% extends 'base.html' %}

{% block content %}

 <h1>Tugas 3 PBP</h1>

 <h3>Name: </h3>
 <p style="font-size:120%;">Nyoo Steven</p>

 <h3>Student ID: </h3>
 <p style="font-size:120%;">2106630050</p>
 <br>
 <div>
   <div>
      <h2>Here are My Watch List</h2>
      <div>
         <h3>Click the button !!</h3>
         <button onclick="location.href='/mywatchlist/html'">HTML</button>
         <button onclick="location.href='/mywatchlist/xml'">XML</button>
         <button onclick="location.href='/mywatchlist/json'">JSON</button>
      </div>
   </div>
 </div>


{% endblock content %}